.addExpense{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0%;
}

.main{
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    color: white;
    flex-wrap: wrap;
}

.submit{
    margin-top: 1.25rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    color: #3ebefb;
    border: 1px solid #3ebefb;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms linear;

    &:hover{
        background-color: #3ebefb;
        color: #2b1c63;
    }
    
}

.number{
    flex: 0 0 30%;
    font-size: 0.8rem;

}

.text{
    font-size: 0.8rem;
    flex: 0 0 60%;
}

input{
    outline: none;
    display: flex;
    border: none;
    width: 100%;
    border-bottom: 2px solid #3ebefb;
    background-color: transparent;
    color: white;
}