.main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 55%;
    margin: 0 auto;
    height: 30vh;
    *{
        margin: 0;
        padding: 0;
    }
}

.content{
    overflow-y: scroll;
}

.content::-webkit-scrollbar{
    width: 0.25em;
}

.content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb{
    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 3%;

    a{
      text-decoration: none;
      color: rgba(255,255,255,0.6);  
    }
}